.featured__slide .entry__meta {
    margin: 0px!important;
}

.header__nav li ul li a {
    text-transform: capitalize!important;
}

.logo h1 {
    margin: 0px!important;
    color: #a7a7a7!important;
}

.s-content__main img, .entry__main img {
    margin: 0px!important;
}

.s-content__main, .entry__main {
    padding:0px!important;
}